  * { margin:0; padding:0; box-sizing:border-box; }
  body {
    background:#ffffff;
    font-family:'Courier New',monospace;
    overflow:hidden;
  }
  #game-container {
    visibility:hidden;
    position:fixed;
    width: 100vw;
    height: 100vh;
  }
  #game-container canvas { display:block; }
  #info-bar { display:none; }
